:root {
  --font-principal: Calibri, sans-serif;
  --color: #FFFFFF;
  --bg-color: #11464E;
  --title-color: #FFFFFF;
  --fieldset-border-color: #FFFFFF;
  --button-color: #9fccff;
  --button-border-color: #666666;
  --terminal-color: #000000;
  --error-color: #FF0000;
  --warning-color: #ffd900;
  --terminal-bg-color: #F2F2F2;
  --progressBar-color: #009400;
  --progressBar-bg-color: #272727;
}

.error {
  color: var(--error-color);
}

.errorReport {
  list-style: none;
  color: #FFFFFF;
  background-color: var(--error-color);
}

.warning {
  list-style: none;
  background-color: var(--warning-color);
}

body {
  background-color: var(--bg-color);
  font-size: 24px;
  font-family: var(--font-principal);
}

h1 {
  display: block;
  text-align: center;
  font-family: var(--font-principal);
  font-size: 1.7em;
  margin: 0.4em;
  color: var(--title-color);
}

.container-diretorio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.container-diretorio label {
  color: var(--color);
  margin-right: .5em;
}

.container-diretorio input {
  width: 600px;
  font-size: .7em;
}

.container-diretorio button {
  font-size: .7em;
  cursor: pointer;
}

.container-diretorio button:hover {
  background-color: #2087fd;
  color: #FFF;
  border: solid 2px transparent;
  border-radius: 2px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
}

form {
  display: block;
  width: 500px;
}

fieldset {
  color: var(--color);
  border: 1px solid var(--fieldset-border-color);
  border-radius: 5px;
  margin: 0 1em 1em 0;
  padding: 0.7em;
}

form label {
  display: inline-block;
  width: 40%;
  margin: 0.4em 0;
  text-align: right;
  color: var(--color);
}

form input {
  width: 200px;
  font-size: .8em;
}

form select {
  width: 208px;
  font-size: .8em;
}

form .container-burnIn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container-burnIn label,
.container-burnIn input {
  width: initial;
}

.container-diretorio input:hover,
form input:hover,
form select:hover {
  background-color: #FFFFDF;
  border-color: transparent;
  transition: background-color 200ms ease;
  border-radius: 2px;
}

.container-buttons {
  display: flex;
  justify-content: space-between;
  align-items: bottom;
  margin-right: 1em;
}

.initializeBtn {
  width: 210px;
  padding: 0.5em 1em;
  font-size: .8em;
  cursor: pointer;
}

.initializeBtn:enabled {
  background-color: var(--progressBar-color);
  color: #FFF;
  border-color: transparent;
  border-radius: 4px;
}

.outputBtn {
  width: 105px;
  padding: 0.5em 1em;
  font-size: .8em;
  cursor: pointer;
}

.outputBtn:enabled {
  background-color: #fce7a3;
  border-color: transparent;
  border-radius: 4px;
}

.container-terminal {
  display: block;
  position: relative;
  top: 7px;
  width: 400px;
  height: 413px;
  padding: 1em;
  font-size: 0.7em;
  border: 1px solid var(--fieldset-border-color);
  border-radius: 5px;
  color: var(--terminal-color);
  background-color: var(--terminal-bg-color);
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.progress-container {
  display: block;
  width: 91%;
  height: 1.5em;
  margin: 1em auto 0;
  border-radius: 0.6rem;
  background: var(--progressBar-bg-color);
}

.progress {
  height: 100%;
  width: 0;
  border-radius: 0.6rem;
  background: var(--progressBar-color);
  transition: width 350ms ease-in-out;
}